# How to choose perfect Beer

ABV – Alcohol By Volume <br>
Brewing Company<br>
Food Pairing – Perfect food to have with this beer<br>
Glassware Used – Perfect glassware to use to enjoy this beer<br>
Beer Name – Name of the beer<br>
Ratings<br>
Score (Predict) – Overall score of the beer<br>
Style Name – Style in which the beer is prepared<br>
Cellar Temperature<br>
Serving Temperature<br>

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
#get dataset
train = pd.read_csv('Beer Train Data Set.csv')
test = pd.read_csv('Beer Test Data Set.csv')

In [49]:
#combine train and test data
train['source'] = 'train'
test['source'] = 'test'
dataset = pd.concat([train,test],ignore_index=True)
print(train.shape,test.shape,dataset.shape)

(185643, 11) (20628, 11) (206271, 11)

In [50]:
dataset.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score,source
0,6.5,8929,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",15121,22,AmericanIPA,40-45,45-50,3.28,train
1,5.5,13187,"(PanAsian)Cheese(earthyCamembert,Fontina,nutty...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",59817,1,AmericanPaleAle(APA),35-40,40-45,3.52,train
2,8.1,6834,"Meat(Pork,Poultry)","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",32669,3,IrishRedAle,35-40,40-45,4.01,train
3,NaN,11688,"(Indian,LatinAmerican,PanAsian)General(Aperitif)","PintGlass(orBecker,Nonic,Tumbler),PilsenerGlas...",130798,0,AmericanMaltLiquor,35-40,35-40,0.00,train
4,6.0,10417,"Meat(Poultry,Fish,Shellfish)",PilsenerGlass(orPokal),124087,1,EuroPaleLager,35-40,40-45,2.73,train

In [51]:
dataset.describe()

                 ABV  Brewing Company      Beer Name          Score
count  189477.000000    206271.000000  206271.000000  185643.000000
mean        6.354189      7005.783910   83700.477183       3.198432
std         1.911320      3913.472797   48499.393775       1.358862
min         0.010000         0.000000       0.000000       0.000000
25%         5.000000      3818.000000   41248.500000       3.270000
50%         6.000000      7106.000000   83230.000000       3.710000
75%         7.200000     10402.000000  125085.500000       3.970000
max        80.000000     13541.000000  168534.000000       5.000000

In [52]:
# checking null values
dataset.isnull().sum()

ABV                    16794
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature      7536
Serving Temperature      214
Score                  20628
source                     0
dtype: int64

In [53]:
# number of unique values per column
dataset.apply(lambda x: x.nunique())

ABV                       723
Brewing Company         13542
Food Paring                88
Glassware Used             39
Beer Name              168535
Ratings                  1926
Style Name                 94
Cellar Temperature          3
Serving Temperature         4
Score                     396
source                      2
dtype: int64

In [96]:
dataset.dtypes

ABV                    float64
Brewing Company          int64
Food Paring              int64
Glassware Used           int64
Beer Name                int64
Ratings                  int64
Style Name              object
Cellar Temperature      object
Serving Temperature     object
Score                  float64
source                  object
dtype: object

In [55]:
from sklearn.preprocessing import Imputer
imputer = Imputer()
dataset.iloc[:,0:1]= imputer.fit_transform(dataset.iloc[:,0:1])

In [56]:
dataset.isnull().sum()

ABV                        0
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature      7536
Serving Temperature      214
Score                  20628
source                     0
dtype: int64

In [57]:
print(dataset['Cellar Temperature'].value_counts())
print(dataset['Serving Temperature'].value_counts())

40-45    105678
35-40     53385
45-50     39672
Name: Cellar Temperature, dtype: int64
45-50    125979
40-45     51854
50-55     26768
35-40      1456
Name: Serving Temperature, dtype: int64

In [58]:
dataset['Cellar Temperature'] = dataset['Cellar Temperature'].replace(np.nan,'40-45')

In [59]:
dataset['Serving Temperature'] = dataset['Serving Temperature'].replace(np.nan,'45-50')

In [60]:
dataset.isnull().sum()

ABV                        0
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature         0
Serving Temperature        0
Score                  20628
source                     0
dtype: int64

In [61]:
print(dataset['Cellar Temperature'].value_counts())
print(dataset['Serving Temperature'].value_counts())

40-45    113214
35-40     53385
45-50     39672
Name: Cellar Temperature, dtype: int64
45-50    126193
40-45     51854
50-55     26768
35-40      1456
Name: Serving Temperature, dtype: int64

In [62]:
dataset.dtypes

ABV                    float64
Brewing Company          int64
Food Paring             object
Glassware Used          object
Beer Name                int64
Ratings                 object
Style Name              object
Cellar Temperature      object
Serving Temperature     object
Score                  float64
source                  object
dtype: object

In [65]:
dataset['Food Paring'] = dataset['Food Paring'].apply(lambda x: x.replace(')',','))

In [64]:
dataset['Food Paring'][0]

'(Curried,Thai)Cheese(pepperyMontereyPepperJack,sharpBlue,Cheddar,pungentGorgonzola,Limburger)Meat(Poultry,Fish,Shellfish,Salmon)'

In [77]:
dataset['Food Paring'] = dataset['Food Paring'].apply(lambda x: len(x.split(',')))

In [78]:
dataset.dtypes

ABV                    float64
Brewing Company          int64
Food Paring              int64
Glassware Used          object
Beer Name                int64
Ratings                 object
Style Name              object
Cellar Temperature      object
Serving Temperature     object
Score                  float64
source                  object
dtype: object

In [82]:
dataset['Glassware Used'] = dataset['Glassware Used'].apply(lambda x:len(x.split(',')))

In [84]:
dataset.dtypes

ABV                    float64
Brewing Company          int64
Food Paring              int64
Glassware Used           int64
Beer Name                int64
Ratings                 object
Style Name              object
Cellar Temperature      object
Serving Temperature     object
Score                  float64
source                  object
dtype: object

In [85]:
dataset['Style Name'].apply(lambda x: x if 'American' in x)

SyntaxError: invalid syntax (<ipython-input-85-2fd659169f95>, line 1)

In [93]:
def removec():
    for x in range(len(dataset['Ratings'])):
                   if ',' in dataset['Ratings'][x]:
                       dataset['Ratings'][x] = dataset['Ratings'][x].replace(',','')
removec()

/home/blackpanther/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [94]:
dataset['Ratings'] = dataset['Ratings'].apply(lambda x : int(x))

In [95]:
dataset['Ratings']

0           22
1            1
2            3
3            0
4            1
5            1
6           15
7            6
8            4
9           12
10         900
11          75
12        1640
13           3
14           1
15           1
16           1
17           1
18           1
19         138
20           1
21           4
22          24
23           8
24          48
25           1
26           3
27          49
28           0
29           1
          ...
206241     223
206242       6
206243       4
206244      18
206245      19
206246     147
206247       5
206248       1
206249       1
206250       1
206251       0
206252       5
206253       0
206254       0
206255       2
206256      39
206257       2
206258       2
206259       4
206260       2
206261       2
206262      77
206263      96
206264       1
206265       4
206266       0
206267       1
206268       1
206269       2
206270       1
Name: Ratings, Length: 206271, dtype: int64

In [98]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
var = ['Cellar Temperature','Serving Temperature']
for i in var:
    le.fit_transform(dataset[i])
dataset= pd.get_dummies(dataset,columns=var)

In [99]:
dataset.dtypes

ABV                          float64
Brewing Company                int64
Food Paring                    int64
Glassware Used                 int64
Beer Name                      int64
Ratings                        int64
Style Name                    object
Score                        float64
source                        object
Cellar Temperature_35-40       uint8
Cellar Temperature_40-45       uint8
Cellar Temperature_45-50       uint8
Serving Temperature_35-40      uint8
Serving Temperature_40-45      uint8
Serving Temperature_45-50      uint8
Serving Temperature_50-55      uint8
dtype: object

In [100]:
dataset.drop(columns=['Brewing Company','Beer Name','Style Name'],inplace=True)

In [101]:
dataset

,ABV,Food Paring,Glassware Used,Ratings,Score,source,Cellar Temperature_35-40,Cellar Temperature_40-45,Cellar Temperature_45-50,Serving Temperature_35-40,Serving Temperature_40-45,Serving Temperature_45-50,Serving Temperature_50-55
0,6.500000,12,5,22,3.28,train,0,1,0,0,0,1,0
1,5.500000,12,5,1,3.52,train,1,0,0,0,1,0,0
2,8.100000,3,5,3,4.01,train,1,0,0,0,1,0,0
3,6.354189,5,6,0,0.00,train,1,0,0,1,0,0,0
4,6.000000,4,1,1,2.73,train,1,0,0,0,1,0,0
5,7.400000,9,4,1,3.86,train,0,1,0,0,0,1,0
6,3.000000,8,5,15,3.77,train,0,1,0,0,0,1,0
7,5.500000,12,5,6,3.67,train,0,1,0,0,0,1,0
8,6.500000,12,5,4,3.97,train,0,1,0,0,0,1,0
9,11.300000,11,5,12,4.24,train,0,0,1,0,0,0,1
10,4.600000,8,4,900,2.76,train,1,0,0,1,0,0,0
11,8.000000,8,4,75,3.75,train,0,0,1,0,0,1,0
12,6.400000,15,5,1640,4.35,train,0,0,1,0,0,1,0
13,4.900000,2,5,3,3.61,train,1,0,0,0,1,0,0
14,5.600000,12,5,1,3.80,train,0,1,0,0,0,1,0
15,7.000000,12,1,1,3.50,train,1,0,0,0,1,0,0
16,4.900000,4,5,1,2.65,train,0,1,0,0,0,1,0
17,6.500000,12,5,1,3.43,train,0,1,0,0,0,1,0
18,4.500000,6,5,1,3.58,train,0,1,0,0,0,1,0
19,8.500000,11,3,138,3.57,train,0,1,0,0,0,0,1
20,8.200000,7,5,1,3.70,train,0,1,0,0,0,1,0
21,3.800000,5,3,4,3.81,train,0,1,0,0,0,1,0
22,5.800000,12,5,24,4.07,train,0,1,0,0,0,1,0
23,6.354189,5,2,8,3.79,train,0,1,0,0,0,1,0
24,7.000000,12,5,48,3.89,train,0,1,0,0,0,1,0
25,7.100000,9,5,1,3.00,train,1,0,0,0,1,0,0
26,4.100000,11,5,3,3.41,train,0,1,0,0,0,0,1
27,3.900000,2,2,49,2.70,train,0,1,0,0,0,1,0
28,5.000000,12,5,0,0.00,train,0,1,0,0,0,1,0
29,5.300000,12,5,1,3.52,train,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206241,11.900000,11,5,223,NaN,test,0,0,1,0,0,0,1
206242,6.600000,9,1,6,NaN,test,0,0,1,0,0,1,0
206243,4.500000,3,5,4,NaN,test,1,0,0,0,1,0,0
206244,6.000000,12,5,18,NaN,test,0,1,0,0,0,1,0
206245,8.000000,10,3,19,NaN,test,0,0,1,0,0,0,1
206246,5.200000,8,3,147,NaN,test,0,1,0,0,0,1,0
206247,5.300000,4,1,5,NaN,test,1,0,0,0,1,0,0
206248,6.000000,11,5,1,NaN,test,0,1,0,0,0,1,0
206249,2.500000,2,5,1,NaN,test,1,0,0,0,1,0,0
206250,5.000000,12,5,1,NaN,test,1,0,0,0,1,0,0
206251,5.000000,12,5,0,NaN,test,1,0,0,0,1,0,0
206252,6.354189,15,5,5,NaN,test,0,0,1,0,0,1,0
206253,5.000000,3,3,0,NaN,test,0,1,0,0,0,1,0
206254,4.000000,4,5,0,NaN,test,0,1,0,0,0,1,0
206255,6.000000,12,5,2,NaN,test,0,1,0,0,0,1,0
206256,4.900000,7,4,39,NaN,test,1,0,0,0,1,0,0
206257,6.354189,10,3,2,NaN,test,0,0,1,0,0,0,1
206258,5.200000,4,5,2,NaN,test,0,1,0,0,0,1,0
206259,6.354189,11,5,4,NaN,test,0,1,0,0,0,1,0
206260,8.000000,9,1,2,NaN,test,0,0,1,0,0,1,0
206261,6.300000,8,3,2,NaN,test,0,1,0,0,0,1,0
206262,5.200000,8,1,77,NaN,test,0,1,0,0,0,1,0
206263,8.500000,11,5,96,NaN,test,0,1,0,0,0,1,0
206264,6.354189,7,5,1,NaN,test,0,1,0,0,0,1,0
206265,11.100000,11,3,4,NaN,test,0,0,1,0,0,0,1
206266,9.000000,10,3,0,NaN,test,0,0,1,0,0,0,1
206267,4.800000,6,5,1,NaN,test,1,0,0,0,1,0,0
206268,7.400000,5,3,1,NaN,test,0,1,0,0,0,0,1
206269,7.500000,5,6,2,NaN,test,0,0,1,0,0,0,1
206270,6.400000,12,5,1,NaN,test,0,1,0,0,0,1,0

In [102]:
train_mod = dataset.loc[dataset['source'] == 'train']
test_mod = dataset.loc[dataset['source'] == 'test']

In [117]:
train_mod

,ABV,Food Paring,Glassware Used,Ratings,Score,Cellar Temperature_35-40,Cellar Temperature_40-45,Cellar Temperature_45-50,Serving Temperature_35-40,Serving Temperature_40-45,Serving Temperature_45-50,Serving Temperature_50-55
0,6.500000,12,5,22,3.28,0,1,0,0,0,1,0
1,5.500000,12,5,1,3.52,1,0,0,0,1,0,0
2,8.100000,3,5,3,4.01,1,0,0,0,1,0,0
3,6.354189,5,6,0,0.00,1,0,0,1,0,0,0
4,6.000000,4,1,1,2.73,1,0,0,0,1,0,0
5,7.400000,9,4,1,3.86,0,1,0,0,0,1,0
6,3.000000,8,5,15,3.77,0,1,0,0,0,1,0
7,5.500000,12,5,6,3.67,0,1,0,0,0,1,0
8,6.500000,12,5,4,3.97,0,1,0,0,0,1,0
9,11.300000,11,5,12,4.24,0,0,1,0,0,0,1
10,4.600000,8,4,900,2.76,1,0,0,1,0,0,0
11,8.000000,8,4,75,3.75,0,0,1,0,0,1,0
12,6.400000,15,5,1640,4.35,0,0,1,0,0,1,0
13,4.900000,2,5,3,3.61,1,0,0,0,1,0,0
14,5.600000,12,5,1,3.80,0,1,0,0,0,1,0
15,7.000000,12,1,1,3.50,1,0,0,0,1,0,0
16,4.900000,4,5,1,2.65,0,1,0,0,0,1,0
17,6.500000,12,5,1,3.43,0,1,0,0,0,1,0
18,4.500000,6,5,1,3.58,0,1,0,0,0,1,0
19,8.500000,11,3,138,3.57,0,1,0,0,0,0,1
20,8.200000,7,5,1,3.70,0,1,0,0,0,1,0
21,3.800000,5,3,4,3.81,0,1,0,0,0,1,0
22,5.800000,12,5,24,4.07,0,1,0,0,0,1,0
23,6.354189,5,2,8,3.79,0,1,0,0,0,1,0
24,7.000000,12,5,48,3.89,0,1,0,0,0,1,0
25,7.100000,9,5,1,3.00,1,0,0,0,1,0,0
26,4.100000,11,5,3,3.41,0,1,0,0,0,0,1
27,3.900000,2,2,49,2.70,0,1,0,0,0,1,0
28,5.000000,12,5,0,0.00,0,1,0,0,0,1,0
29,5.300000,12,5,1,3.52,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
185613,4.800000,15,5,20,3.61,0,0,1,0,0,1,0
185614,4.500000,12,5,2,3.94,0,1,0,0,0,1,0
185615,6.200000,12,5,0,0.00,1,0,0,0,1,0,0
185616,7.000000,12,5,2,4.17,0,1,0,0,0,1,0
185617,9.500000,9,3,862,3.92,1,0,0,0,1,0,0
185618,5.500000,9,5,1,4.04,1,0,0,0,1,0,0
185619,10.000000,10,3,3,4.13,0,0,1,0,0,0,1
185620,7.000000,12,5,21,3.65,0,1,0,0,0,1,0
185621,4.500000,9,3,2,3.60,1,0,0,0,1,0,0
185622,6.700000,2,6,1,3.49,1,0,0,0,1,0,0
185623,5.000000,12,5,5,3.82,1,0,0,0,1,0,0
185624,5.000000,2,5,6,3.40,0,1,0,0,0,1,0
185625,6.200000,12,5,2,3.99,1,0,0,0,1,0,0
185626,5.250000,12,5,1,3.00,1,0,0,0,1,0,0
185627,5.700000,7,4,56,3.75,1,0,0,0,1,0,0
185628,5.700000,12,5,3,3.69,1,0,0,0,1,0,0
185629,6.354189,9,1,3,3.94,0,1,0,0,0,1,0
185630,4.800000,8,3,6,3.61,0,1,0,0,0,1,0
185631,6.354189,11,5,2,3.68,0,1,0,0,0,1,0
185632,4.600000,12,5,0,0.00,1,0,0,0,1,0,0
185633,5.200000,4,1,19,3.45,1,0,0,0,1,0,0
185634,6.354189,12,5,3,3.48,1,0,0,0,1,0,0
185635,4.500000,12,5,1,3.61,1,0,0,0,1,0,0
185636,10.500000,10,3,10,3.73,0,0,1,0,0,0,1
185637,7.000000,12,5,0,0.00,0,1,0,0,0,1,0
185638,4.500000,4,5,0,0.00,0,1,0,0,0,1,0
185639,4.500000,9,1,1,4.19,1,0,0,0,1,0,0
185640,6.354189,8,5,1,3.11,0,1,0,0,0,1,0
185641,6.200000,12,5,2,3.40,0,1,0,0,0,1,0
185642,6.400000,12,5,1,4.31,0,1,0,0,0,1,0

In [131]:
test_mod.shape

(20628, 11)

In [106]:
train_mod.drop(columns=['source'],inplace=True)

/home/blackpanther/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [108]:
test_mod.drop(columns=['source','Score'],inplace=True)

/home/blackpanther/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [110]:
train_mod.columns

Index(['ABV', 'Food Paring', 'Glassware Used', 'Ratings', 'Score',
       'Cellar Temperature_35-40', 'Cellar Temperature_40-45',
       'Cellar Temperature_45-50', 'Serving Temperature_35-40',
       'Serving Temperature_40-45', 'Serving Temperature_45-50',
       'Serving Temperature_50-55'],
      dtype='object')

In [111]:
train_df1 = train_mod.iloc[:,0:4]

In [113]:
train_df2 = train_mod.iloc[:,5:]

In [115]:
demo_train = pd.concat([train_df1,train_df2], axis=1,join_axes=[train_df1.index])

In [119]:
demo_test = train_mod['Score']

In [122]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression(normalize=True)
regressor.fit(demo_train,demo_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [124]:
y_pred = regressor.predict(test_mod)

In [129]:
output = pd.DataFrame(y_pred,columns=['Score'])

In [130]:
output.to_excel('Output.xlsx',index=False)

In [132]:
from sklearn.model_selection import cross_val_score
accuracy = cross_val_score(estimator = regressor,X= demo_train,y=demo_test,cv = 5)

In [137]:
accuracy

array([0.02617792, 0.03155578, 0.02845998, 0.02843054, 0.02775104])

In [136]:
accuracy.std()

0.0017489468438248797

In [144]:
dataset['Score'].describe()

count    185643.000000
mean          3.198432
std           1.358862
min           0.000000
25%           3.270000
50%           3.710000
75%           3.970000
max           5.000000
Name: Score, dtype: float64

In [146]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=10,random_state=0)
reg.fit(demo_train,demo_test)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [147]:
accuracyrf = cross_val_score(estimator = reg,X= demo_train,y=demo_test,cv = 5)

In [149]:
accuracyrf.mean()

0.9228990508152503

In [150]:
y_pred2 = reg.predict(test_mod)
output2 = pd.DataFrame(y_pred2,columns=['Score'])
output2.to_excel('Output2.xlsx',index=False)